@import "tailwindcss";
@variant dark (&:where(.dark, .dark *));

@layer base {
  html, body {
    -ms-overflow-style: none !important;
    scrollbar-width: none !important;
  }
  html::-webkit-scrollbar, body::-webkit-scrollbar {
    display: none !important;
  }
  body {
    @apply bg-gray-50 text-gray-900 dark:bg-gray-900 dark:text-white transition-colors duration-200;
  }
}

@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none !important;
  }
  .scrollbar-hide {
    -ms-overflow-style: none !important;
    scrollbar-width: none !important;
  }
}
